@use '../util/index' as *;
body {
  background-color: var(--bg);
  color: white;
  transition: background-color 0.5s;

  a {
    color: white;
  }
  .subheading,
  .username,
  .followers,
  .sm-head {
    color: var(--sub);
  }
  .heading,
  .overview-heading,
  .dashboard-stat,
  .sm-stat {
    color: var(--num);
    transition: color 0.5s;
  }
  .up-stat {
    color: $clr-increase;
  }
  .down-stat {
    color: $clr-decrease;
  }
}
